:root {
  --color-bg: #121212;
  --color-card: #1E1E2F;
  --color-text: #FFFFFF;
  --color-text-secondary: #B0B0B0;
  --color-primary: #E30613;
  --color-primary-hover: #FF1A2A;
  --color-success: #27AE60;
  --color-gold: #F2C94C;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}
